.demo-h1 {
    color: purple;
}


/* Als het apparaat dit supports doe dit, anders niet (Progressive Enhancement) */
@supports (background-clip: text) {
    .demo-h1 {
        background: linear-gradient(40deg, purple,rgb(3, 3, 103), black);
        background-clip: text;
        color: transparent;
    }

}

