body {
    font-family: 'Open Sans' ,Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* display: grid */
    background-image:
    repeating-linear-gradient(
        -45deg,
        #f09,
        transparent 10%
    ),
        repeating-linear-gradient(
            45deg,
            #90f,
            transparent 10%
        );
}

header {
    background: #0529aa;
    color: rgb(247, 250, 248);
    padding: 10px 20px;
    text-align: center;
}

main {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    gap: 5px;
    
}

section {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #7a4caf;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


@media(max-width: 900px){
    main{
        grid-template-columns: 1fr;
    }
}


ul {
	list-style-type:none;
	display:flex;
	gap:10px;
	overflow-x:auto; /* voegt een scrolbar toe wanneer de inhoud het vak van het element overstroomt*/
	overscroll-behavior-x:contain; /* zorgt ervoor dat je niet verder kan scrollen dan de laatste section*/
    scroll-snap-type: x mandatory;
}

li {
	width: 500px;
	flex-shrink:0; /* bepaalt de grootte van de flex items en zorgt ervoor dat deze niet krimpen*/
    scroll-snap-align: center;
}

/* @font-face {
        font-family: 'Open Sans';
        src: url('EigenPixelFont-Regular.otf') format('woff2');
    } */


/* .kleurtje {
    background-image:
		repeating-linear-gradient(
			-45deg,
			#f09,
			transparent 10%
		),
			repeating-linear-gradient(
				45deg,
				#90f,
				transparent 10%
			);
} */
