{% render 'partials/head.liquid' %}

<header class="header-artikel">
    <h1>Daily Checkout ✅</h1>
</header>

<body class="body-artikel">

<div class="artikel-file" >{{ fileContents }}</div>

<a href="/Learning-Journal" class="a-artikel">Back</a>

</body>