{%  render 'partials/head.liquid' %} 

<body class="body-lj-liquid">

    <header class="header-LJ">
        <h1>Learning Journal</h1>
        
    </header>


    {% comment %} {{ files | json }} {% endcomment %}


        <ul class="ul-LJ">                 
            {% for file in files %}

                <li class="li-LJ">    
                    <a class="a-LJ"  href="/Learning-Journal/{{ file | slice:0,-3 }}">{{ file | slice:0,-3 }}</a>
                </li>          
            
            {% endfor %}
        </ul>

   
            